<html>
   <body>
      <form action = "{{ url_for('search') }}" method = "POST">
         <h3>LMT Data Search</h3>
         Project code<br>
         <input type = "text" name = "obs_id" /></br>
         
         Source<br>
         <input type = "text" name = "target_name" /></br>

         RA<br>
         <input type = "text" name = "s_ra" /></br>

         DEC<br>
         <input type = "text" name = "s_dec" /></br>
         
         Search radius (arcsec) <br>
         <input type = "text" name = "radius" /><br>
         
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>
